.configurator {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  box-sizing: border-box;
  gap: 0;
  max-width: 100vw;
}

.configurator::after {
  content: '';
  position: absolute;
  left: 65%;
  top: 0;
  bottom: 0;
  width: 2px;
  background: linear-gradient(to bottom, 
    rgba(83, 62, 23, 0) 0%, 
    rgba(83, 62, 23, 0.4) 10%,
    #533e17 20%, 
    #533e17 25%,
    rgba(255, 254, 136, 0.8) 30%,
    #fffe88 35%, 
    #fffe88 65%,
    rgba(255, 254, 136, 0.8) 70%,
    #533e17 75%,
    #533e17 80%,
    rgba(83, 62, 23, 0.4) 90%,
    rgba(83, 62, 23, 0) 100%);
  z-index: 10;
}


